## Variables

In [1]:
x = 10
y = 15

In [2]:
print(x)

10

In [3]:
print(y)

15

In [4]:
z = x + y

In [5]:
print(z)

25

In [6]:
x = 25

In [7]:
z = x + y

In [8]:
print(z)

40

## Conditionals

In [11]:
x = 5

In [12]:
if x == 5:
    print("x is equal to 5")
else:
    print("x is not equal to 5")

x is equal to 5

In [13]:
if x == 5 or x == 15:
    print("x is 5 or 15")
else:
    print("x is neither 5 nor 15")

x is 5 or 15

In [16]:
x = 10

In [17]:
if x == 5 and y == 15:
    print("x is 5 and y is 15")
else:
    print("x is not 5 or y is not 15")

x is not 5 or y is not 15

In [15]:
print(x,y)

5 15

In [20]:
x = 5

In [23]:
if not x == 5:
    print("x is not equal to 5")
else:
    print("x is  equal to 5 ")

x is  equal to 5

## Loops / Iterations

In [26]:
guess = 20

number = int(input("Try to guess the number:"))

if number == 20:
    print("Yayyy!! you guessed it right!")
else:
    print("Sorry, do you want to try again?")

Try to guess the number:10
Sorry, do you want to try again?

In [27]:
number = int(input("Try to guess the number:"))

if number == 20:
    print("Yayyy!! you guessed it right!")
else:
    print("Sorry, do you want to try again?")

Try to guess the number:30
Sorry, do you want to try again?

In [28]:
number = int(input("Try to guess the number:"))

if number == 20:
    print("Yayyy!! you guessed it right!")
else:
    print("Sorry, do you want to try again?")

Try to guess the number:45
Sorry, do you want to try again?

### Iterate using while

In [31]:
guess = 10

while True:
    number = int(input("Try to guess the number:"))

    if number == guess:
        print("Yayyy!! you guessed it right!")
        break
    else:
        print("Please try again")
        # continue
        
    ### something here
    print("Guess is:", number)

Try to guess the number:20
Please try again
Guess is: 20
Try to guess the number:10
Yayyy!! you guessed it right!

In [32]:
guess = 10
number = 0

while number != guess:
    number = int(input("Try to guess the number:"))

    if number == guess:
        print("Yayyy!! you guessed it right!")
        break

Try to guess the number:20
Try to guess the number:10
Yayyy!! you guessed it right!

### Iterate using a for loop

In [36]:
for i in range(10):
    print(i)
    print("hello")

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
for i in range(3):
    name = input("Enter employee name:")
    
    print(name)

Enter employee name:Sanjay
Sanjay
Enter employee name:Ajay
Ajay
Enter employee name:Bob
Bob

## Strings

In [21]:
name = "Sanjay Dorairaj"

In [22]:
name

'Sanjay Dorairaj'

In [23]:
print(name)

Sanjay Dorairaj

In [30]:
name = input("Enter your full name:")
print(name)

Enter your full name:Sanjay Dorairaj
Sanjay Dorairaj

In [36]:
names = ["Bob Chapin","Tina Fey", "Harry Truman"]

In [38]:
for name in names:
    
    split_name = name.split(' ')
    
    print("First Name:%10s, Last Name:%10s"% (split_name[0], split_name[1]))

First Name:       Bob, Last Name:    Chapin
First Name:      Tina, Last Name:       Fey
First Name:     Harry, Last Name:    Truman

In [32]:
numbers = [1,2,3,4,5]

In [33]:
numbers

[1, 2, 3, 4, 5]

In [34]:
split_name

['Sanjay', 'Dorairaj']

In [35]:
split_name[1]

'Dorairaj'

In [51]:
print("First Name:", split_name[0])
print("Last Name:", split_name[1])

First Name: Bob
Last Name: Chapin

In [52]:
first_name = split_name[0]
last_name = split_name[1]

In [53]:
print(first_name, last_name)

Bob Chapin

In [54]:
first_name

'Bob'

In [55]:
first_name.lower()

'bob'

In [60]:
name_to_find = "Bob"

while True:
    
    first_name = input("Enter your first name:")
    
    if first_name.lower() == name_to_find.lower():
        print("Yippee! Found Bob!")
        break
    else:
        print("Next please...")
        continue

Enter your first name:bob
Yippee! Found Bob!

### String Indexing

In [61]:
something = "potato"

In [62]:
something[0]

'p'

In [63]:
len(something)

6

In [66]:
for i in range(len(something)):
    print(something[i])

p
o
t
a
t
o

In [68]:
something[0:3]

'pot'

In [71]:
something[::3]

'pa'

### Is the word an anagram

In [72]:
word = "racecar"

In [73]:
word = "hello"

In [76]:
word[::-1]

'olleh'

In [82]:
word = input("Enter a word to check for anagram:")
if word.lower() == word[::-1].lower():
    print("the word is an anagram")
else:
    print("the word is not an anagram")

Enter a word to check for anagram:Bob
the word is an anagram

In [83]:
paragraph = "WILMINGTON, Del./MCLELLAN PARK, Calif. (Reuters) - Joe Biden branded President Donald Trump a “climate arsonist” on Monday for refusing to acknowledge global warming’s role in deadly wildfires sweeping the western United States, while Trump blamed lax forestry and declared, “I don’t think science knows.”"

In [84]:
print(paragraph)

WILMINGTON, Del./MCLELLAN PARK, Calif. (Reuters) - Joe Biden branded President Donald Trump a “climate arsonist” on Monday for refusing to acknowledge global warming’s role in deadly wildfires sweeping the western United States, while Trump blamed lax forestry and declared, “I don’t think science knows.”

In [85]:
paragraph.find("Biden")

55

In [86]:
paragraph[55:55+5]

'Biden'

In [87]:
paragraph.find("Clinton")

-1

In [88]:
paragraph.find("Biden")

55

In [89]:
?paragraph.find

In [92]:
new_para = "Dozens of conflagrations have raged with unprecedented scope across some 4.5 million acres (1.8 million hectares) in Oregon, California and Washington state since August, laying waste to several small towns, destroying thousands of homes and killing at least 36 people.\
The fires also have filled the region’s air with harmful levels of smoke and soot, bathing skies in eerie tones of orange and sepia while adding to a public health crisis already posed by the coronavirus pandemic.\
Ten deaths have been confirmed during the past week in Oregon, the latest flashpoint in a larger summer outbreak of fires accompanied by catastrophic lightning storms, record-breaking heat waves and bouts of extreme winds.\
Those incendiary conditions gave way over the weekend to cooler, moister weather and calmer winds, enabling weary firefighters to gain ground in efforts to outflank blazes that had burned largely unchecked last week.\
Fire managers cautioned that the battle was hardly over. Thunderstorms forecast for later in the week could bring much-needed rain but also more lightning. Officials also braced for a rise in the death toll.\
As disaster teams scoured the ruins of dwellings engulfed by flames amid chaotic evacuations last week, Oregon’s emergency management authorities said they had yet to account for 22 people reported missing in the fires.\
At least 25 people have perished in California wildfires since mid-August, and one fatality has been confirmed in Washington state. More than 6,200 homes and other structures have been lost, according to figures from all three states."

In [93]:
new_para

'Dozens of conflagrations have raged with unprecedented scope across some 4.5 million acres (1.8 million hectares) in Oregon, California and Washington state since August, laying waste to several small towns, destroying thousands of homes and killing at least 36 people.The fires also have filled the region’s air with harmful levels of smoke and soot, bathing skies in eerie tones of orange and sepia while adding to a public health crisis already posed by the coronavirus pandemic.Ten deaths have been confirmed during the past week in Oregon, the latest flashpoint in a larger summer outbreak of fires accompanied by catastrophic lightning storms, record-breaking heat waves and bouts of extreme winds.Those incendiary conditions gave way over the weekend to cooler, moister weather and calmer winds, enabling weary firefighters to gain ground in efforts to outflank blazes that had burned largely unchecked last week.Fire managers cautioned that the battle was hardly over. Thunderstorms forecast for later in the week could bring much-needed rain but also more lightning. Officials also braced for a rise in the death toll.As disaster teams scoured the ruins of dwellings engulfed by flames amid chaotic evacuations last week, Oregon’s emergency management authorities said they had yet to account for 22 people reported missing in the fires.At least 25 people have perished in California wildfires since mid-August, and one fatality has been confirmed in Washington state. More than 6,200 homes and other structures have been lost, according to figures from all three states.'

In [106]:
len("Dozens of conflagrations have raged with unprecedented scope across some 4.5 million acres (1.8 million hectares) in Oregon, California and Washington state since August, laying waste to several small towns, destroying thousands of homes and killing at least 36 people.The fires also have filled the region’s air with harmful levels of smoke and soot, bathing skies in eerie tones of orange and sepia while adding to a public health crisis already posed b")

455

In [97]:
new_para.find('by')

454

In [116]:
len(new_para)

1580

In [117]:
new_para[1500:].find('by')

-1

In [126]:
count = 0
last_word_index = -1

while True:
    
    word_index = new_para[last_word_index+1:].find("by")
    last_word_index = last_word_index + word_index + 1
    
    print("word index:", word_index)
    print("last word index:",last_word_index)
    
    if word_index == -1:
        print("No more words to search")
        break
    else:
        print("last word index in else:",last_word_index)
        count = count + 1
        
    if input("Do you want to continue:") == "yes":
        continue
    else:
        break
        
print("Number of times word was found is:", count)

word index: 454
last word index: 454
last word index in else: 454
Do you want to continue:yes
word index: 161
last word index: 616
last word index in else: 616
Do you want to continue:yes
word index: 568
last word index: 1185
last word index in else: 1185
Do you want to continue:yes
word index: -1
last word index: 1185
No more words to search
Number of times word was found is: 3

In [109]:
new_para

'Dozens of conflagrations have raged with unprecedented scope across some 4.5 million acres (1.8 million hectares) in Oregon, California and Washington state since August, laying waste to several small towns, destroying thousands of homes and killing at least 36 people.The fires also have filled the region’s air with harmful levels of smoke and soot, bathing skies in eerie tones of orange and sepia while adding to a public health crisis already posed by the coronavirus pandemic.Ten deaths have been confirmed during the past week in Oregon, the latest flashpoint in a larger summer outbreak of fires accompanied by catastrophic lightning storms, record-breaking heat waves and bouts of extreme winds.Those incendiary conditions gave way over the weekend to cooler, moister weather and calmer winds, enabling weary firefighters to gain ground in efforts to outflank blazes that had burned largely unchecked last week.Fire managers cautioned that the battle was hardly over. Thunderstorms forecast for later in the week could bring much-needed rain but also more lightning. Officials also braced for a rise in the death toll.As disaster teams scoured the ruins of dwellings engulfed by flames amid chaotic evacuations last week, Oregon’s emergency management authorities said they had yet to account for 22 people reported missing in the fires.At least 25 people have perished in California wildfires since mid-August, and one fatality has been confirmed in Washington state. More than 6,200 homes and other structures have been lost, according to figures from all three states.'

### replace a string with another string

In [127]:
poem = "Jack and Jill went up the hill"

In [128]:
poem

'Jack and Jill went up the hill'

In [129]:
?poem.replace

In [133]:
poem = poem.replace('up','down')

In [134]:
poem

'Jack and Jill went down the hill'

## Test

In [7]:
name = input("Enter your name:")
print(name)

Enter your name:Anahita
Anahita

In [5]:
if name == "Anahita":
    print("Anahita found")
else:
    print("Anahita not found")

Anahita not found

In [13]:
x = True
for i in range(10):
    
    print(x)
    
    x = not x

True
False
True
False
True
False
True
False
True
False

In [14]:
numbers = [23,30,5,8,90]

In [ ]:
for i in range(0:9):
    for j in range(1:10):
        
        if

In [18]:
temp = 0

for i in range(10):
    
    temp = temp + i
    
total = temp

print(total)

45

In [19]:
firstNames = ['f_1','f_2','f_3']
lastNames = ['l_1','l_2','l_3']

In [20]:
firstNames, lastNames

(['f_1', 'f_2', 'f_3'], ['l_1', 'l_2', 'l_3'])