## Command Line Input

In [1]:
%%writefile test_cmdline.py

import sys

if len(sys.argv) != 3:
    print("Please use the following syntax:")
    print("python test_cmdline.py <number1> <number2>")
    sys.exit(-1)
    
try:
    n1 = float(sys.argv[1])
    n2 = float(sys.argv[2])
except ValueError as error:
    print("Please enter numerical values for the numbers")
    sys.exit(-1)
    
result = n1 + n2

print("Addition result:", result)

Writing test_cmdline.py

In [2]:
!pwd

/Users/sddorair/Personal/SJCC/cis24c/cis024c_fall_2020/classwork

## Object Oriented Programming

In [3]:
# one type of variable is a scalar

a = 2
name = "Amy"
amount = 20.32

In [6]:
# other type of variable that we saw were collections aka vectors
# these can take multiple values

grocery_list = ['sugar','coffee','milk']
numbers = [1,2,3,4,5]
employee_dictionary = {123:'Harry',233:'Mary'}

In [5]:
employee_dictionary[123]

'Harry'

In [7]:
grocery_list.append('eggs')

In [8]:
grocery_list

['sugar', 'coffee', 'milk', 'eggs']

In [9]:
grocery_list.count('sugar')

1

In [10]:
len(grocery_list)

4

### Classes

In [19]:
class Employee:
    
    def __init__(self, id, name, salary):
        
        self.id = id
        self.name = name
        self.salary = salary
        
    def increment_salary(self, rate):
        
        self.salary = self.salary * (1+rate)

In [20]:
Employee

__main__.Employee

In [21]:
employee = Employee(123,'Harry',23234)

In [22]:
employee

In [23]:
employee.id

123

In [24]:
employee.name

'Harry'

In [25]:
employee.salary

23234

In [26]:
employee.increment_salary(0.05)

In [27]:
employee.salary

24395.7

### Write a program to read salary data and then update salary data

In [46]:
class Employee:
    
    count = 0
    
    def __init__(self, id, name, salary):
        
        self.id = id
        self.name = name
        self.salary = salary
        
        # increment employee count
        Employee.count += 1
        
    def increment_salary(self, rate):
        
        self.salary = self.salary * (1+rate)

In [52]:
employees = []

In [55]:
rate = 0.05

emp_file = open('employee_info.csv','r')
for employee in emp_file:
    
    # get data from file
    id,name,salary = employee.strip().split(',')
    salary = float(salary)
    
    employee = Employee(id,name,salary)
    employees.append(employee)
    print("Running counter:",employee.count)
    
emp_file.close()

# write updated salary
emp_file = open('employee_info.csv','w')
for employee in employees:
    # increment the salary
    employee.increment_salary(0.05)
    
    # write the data back to the file
    write_data = employee.id + "," + employee.name + "," + str(round(employee.salary,2)) + "\n"
    
    emp_file.write(write_data)
emp_file.close()

Running counter: 31
Running counter: 32
Running counter: 33
Running counter: 34
Running counter: 35
Running counter: 36
Running counter: 37
Running counter: 38
Running counter: 39
Running counter: 40

In [48]:
Employee.count

5

In [56]:
employees

[<__main__.Employee at 0x10a381690>,
 <__main__.Employee at 0x10a39ad90>,
 <__main__.Employee at 0x10a39a890>,
 <__main__.Employee at 0x109f85c10>,
 <__main__.Employee at 0x109f856d0>,
 <__main__.Employee at 0x109f65610>,
 <__main__.Employee at 0x1096c7250>,
 <__main__.Employee at 0x109f9b690>,
 <__main__.Employee at 0x109ba37d0>,
 <__main__.Employee at 0x109791410>,
 <__main__.Employee at 0x1096ec090>,
 <__main__.Employee at 0x109c80a50>,
 <__main__.Employee at 0x109c80cd0>,
 <__main__.Employee at 0x109fad890>,
 <__main__.Employee at 0x109d439d0>,
 <__main__.Employee at 0x109775b90>,
 <__main__.Employee at 0x1097a40d0>,
 <__main__.Employee at 0x109ac8a90>,
 <__main__.Employee at 0x109bce3d0>,
 <__main__.Employee at 0x109bdc0d0>]

In [57]:
__dict__(Employee)

NameError: name '__dict__' is not defined

In [58]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'count': 40,
              '__init__': <function __main__.Employee.__init__(self, id, name, salary)>,
              'increment_salary': <function __main__.Employee.increment_salary(self, rate)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [59]:
Employee.__doc__

### Inheritance

In [61]:
class Employee:
    
    count = 0
    
    def __init__(self, id, name, salary):
        
        self.id = id
        self.name = name
        self.salary = salary
        
        # increment employee count
        Employee.count += 1
        
    def increment_salary(self, rate):
        
        self.salary = self.salary * (1+rate)

In [79]:
class Faculty(Employee):
    
    def __init__(self, id,name, salary, dept_name):
        self.dept_name = dept_name
        
        super().__init__(id,name,salary)
        
    def display_dept_name(self):
        print("Department Name:",self.dept_name)
        
    def increment_salary(self, rate, bonus):
        
        self.salary = self.salary * (1+rate) + bonus

In [80]:
faculty1 = Faculty(1,'Bob',23233,'Chemistry')

In [81]:
faculty1.id,faculty1.name,faculty1.salary,faculty1.dept_name

(1, 'Bob', 23233, 'Chemistry')

In [83]:
faculty1.increment_salary(0.02,5000)

In [84]:
faculty1.id,faculty1.name,faculty1.salary,faculty1.dept_name

(1, 'Bob', 28697.66, 'Chemistry')

In [78]:
faculty1.display_dept_name()

Department Name: Chemistry

### Overloading Operators

In [110]:
class Name:
    
    def __init__(self,first_name,last_name):
        self.first_name = first_name
        self.last_name = last_name
        
    def display_name(self):
        print("First Name:%s\nLast Name:%s" % (self.first_name,self.last_name))
        
    def __len__(self):
        return len(self.first_name) + len(self.last_name)
    
    def __str__(self):
        return self.first_name + " " + self.last_name

In [111]:
myName = Name("Bob","Martin")

In [112]:
myName.display_name()

First Name:Bob
Last Name:Martin

In [113]:
len(myName)

9

In [114]:
grocery_list = ['sugar','coffee']

In [115]:
print(grocery_list)

['sugar', 'coffee']

In [116]:
print(myName)

Bob Martin

### Example: Operator Overloading using a Point class

In [132]:
class Point:
    
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def __str__(self):
        return "(" + str(self.x) + "," + str(self.y) + ")"
    
    def __add__(self, other):
        
        x = self.x + other.x
        y = self.y + other.y
        
        return Point(x,y)

In [133]:
point1 = Point(2,3)
point2 = Point(6,7)

In [134]:
print(point1)
print(point2)

(2,3)
(6,7)

In [136]:
point3 = point1 + point2

In [137]:
print(point3)

(8,10)