In [1]:
2+2

4

In [2]:
3+2

5

In [3]:
6+2

8

In [4]:
8+2

10

In [5]:
2+9

11

In [22]:
number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

result = number1 + number2 + 98

print(result)

Enter the first number:3
Enter the second number:3
104

In [24]:
number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

result = number1 * number2**3

print(result)

Enter the first number:3
Enter the second number:3
81

In [15]:
x = 9

type(x)

int

In [16]:
x = "Hello"

In [17]:
type(x)

str

In [19]:
x = True

In [20]:
y = False

In [28]:
# comparing two values - greater than or equal to

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 >= number2

Enter the first number:2
Enter the second number:2

True

In [29]:
# comparing two values - less than

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 < number2

Enter the first number:3
Enter the second number:5

True

In [31]:
# comparing two values  - for equality

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 == number2

Enter the first number:2
Enter the second number:3

False

In [33]:
# comparing two values  - for not equal

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 != number2

Enter the first number:2
Enter the second number:2

False

In [35]:
# compare student age

student1_age = int(input("Enter student 1 age:"))

student2_age = int(input("Enter student 2 age:"))

if student1_age == student2_age:
    print("Student 1 has the same age as Student 2")
else:
    print("Student 1 and Student 2 have different ages")

Enter student 1 age:2
Enter student 2 age:3
Student 1 and Student 2 have different ages

In [2]:
### see how much commission a sales guy would get
# did not meet target - no commission
# meet target = 10% 
# exceed target = 15%

target = 20000

sales = int(input("Enter your Sales for the year:"))

commission = 0

if sales < target:
    commission = 0
elif sales == target:
    commission = 0.1 * sales
else:
    commission = 0.15 * sales
    
print("Commission is:",commission)

Enter your Sales for the year:70000
Commission is: 10500.0

## Does a user have available money to withdraw in the bank

In [8]:
availableBalance = int(input("Enter available balance:"))
overdraftProtectionEnabled = input("Enter OD available (Y/N):")

amountToWithdraw = int(input("Enter amount to withdraw:"))

balanceAfterWithdrawal = availableBalance - amountToWithdraw

if balanceAfterWithdrawal >= 0:
    print("User has sufficient funds to withdraw")
elif overdraftProtectionEnabled == "Y":
    print("User has insufficient funds but has overdraft protection enabled")
else:
    print("User has insufficient funds and no overdraft protection")

Enter available balance:5000
Enter OD available (Y/N):N
Enter amount to withdraw:6000
User has insufficient funds and no overdraft protection

## Repetition

In [9]:
emp_1 = 50000
emp_2 = 60000
emp_3 = 65000
emp_4 = 40000
emp_5 = 45000

In [10]:
tax_rate = 0.2

In [11]:
salary_emp_1 = 50000 * tax_rate
salary_emp_2 = 60000 * tax_rate
salary_emp_3 = 65000 * tax_rate
salary_emp_4 = 40000 * tax_rate
salary_emp_5 = 45000 * tax_rate

In [12]:
print(salary_emp_1,salary_emp_2,salary_emp_3,salary_emp_4,salary_emp_5 )

10000.0 12000.0 13000.0 8000.0 9000.0

## List

In [15]:
employee_gross_pay = [50000,60000,65000,40000,45000]
employee_gross_pay

[50000, 60000, 65000, 40000, 45000]

In [16]:
for gp in employee_salaries:
    print(gp)

50000
60000
65000
40000
45000

In [18]:
for gp in employee_gross_pay:
    net_salary = gp * tax_rate
    print(net_salary)

10000.0
12000.0
13000.0
8000.0
9000.0

In [20]:
list(range(100000))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
net_salaries = []
for gp in range(100000):
    net_salary = gp * tax_rate
    net_salaries.append(net_salary)

In [24]:
net_salaries[:10]

[0.0,
 0.2,
 0.4,
 0.6000000000000001,
 0.8,
 1.0,
 1.2000000000000002,
 1.4000000000000001,
 1.6,
 1.8]

## Another example of using the  loop

In [28]:
salary = int(input("Enter your salary(must be greater than 10000):"))
if salary < 10000:
    salary = int(input("Enter your salary(must be greater than 10000):"))
    if salary < 10000:
        salary = int(input("Enter your salary(must be greater than 10000):"))

Enter your salary(must be greater than 10000):8000
Enter your salary(must be greater than 10000):8000
Enter your salary(must be greater than 10000):8000

## While Loop

In [29]:
while True:
    salary = int(input("Enter your salary(must be greater than 10000):"))
    if salary <= 10000:
        print("Salary must be greater than 10000. Please try again")
    else:
        break

Enter your salary(must be greater than 10000):8000
Salary must be greater than 10000. Please try again
Enter your salary(must be greater than 10000):8000
Salary must be greater than 10000. Please try again
Enter your salary(must be greater than 10000):8000
Salary must be greater than 10000. Please try again
Enter your salary(must be greater than 10000):8000
Salary must be greater than 10000. Please try again
Enter your salary(must be greater than 10000):8000
Salary must be greater than 10000. Please try again
Enter your salary(must be greater than 10000):8000
Salary must be greater than 10000. Please try again
Enter your salary(must be greater than 10000):11000

In [31]:
while True:
    salary = int(input("Enter your salary(must be greater than 10000):"))
    if salary <= 10000:
        print("Salary must be greater than 10000. Please try again")
        continue
    
    break

Enter your salary(must be greater than 10000):8000
Salary must be greater than 10000. Please try again
Enter your salary(must be greater than 10000):11000