In [1]:
2+2

4

In [2]:
3+2

5

In [3]:
6+2

8

In [4]:
8+2

10

In [5]:
2+9

11

In [22]:
number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

result = number1 + number2 + 98

print(result)

Enter the first number:3
Enter the second number:3
104

In [24]:
number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

result = number1 * number2**3

print(result)

Enter the first number:3
Enter the second number:3
81

In [15]:
x = 9

type(x)

int

In [16]:
x = "Hello"

In [17]:
type(x)

str

In [19]:
x = True

In [20]:
y = False

In [28]:
# comparing two values - greater than or equal to

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 >= number2

Enter the first number:2
Enter the second number:2

True

In [29]:
# comparing two values - less than

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 < number2

Enter the first number:3
Enter the second number:5

True

In [31]:
# comparing two values  - for equality

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 == number2

Enter the first number:2
Enter the second number:3

False

In [33]:
# comparing two values  - for not equal

number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))

number1 != number2

Enter the first number:2
Enter the second number:2

False

In [35]:
# compare student age

student1_age = int(input("Enter student 1 age:"))

student2_age = int(input("Enter student 2 age:"))

if student1_age == student2_age:
    print("Student 1 has the same age as Student 2")
else:
    print("Student 1 and Student 2 have different ages")

Enter student 1 age:2
Enter student 2 age:3
Student 1 and Student 2 have different ages

In [38]:
### see how much commission a sales guy would get
# did not meet target - no commission
# meet target = 10% 
# exceed target = 15%

target = 20000

sales = int(input("Enter your Sales for the year:"))

commission = 0

if sales < target:
    commission = 0
elif sales == target:
    commission = 0.1 * sales
else:
    commission = 0.15 * sales
    
print("Commission is:",commission)

Enter your Sales for the year:25000
Commission is: 3750.0